nextflow.enable.dsl = 2

includeConfig 'conf/containers.config'

params.manifest = null
params.analysis_config = "${projectDir}/config/analysis.yml"
params.run_id = null
params.outdir = null
params.gtdb_batch_size = 20
params.skip_c00 = false
params.run_downstream = false
params.representatives_manifest = null
params.clusters_manifest = null
params.drep_primary_ani = 0.90
params.drep_secondary_ani = 0.999
params.drep_min_coverage = 0.10
params.anvio_module_completion_threshold = 1.0
params.anvio_module_sensitivity_threshold = 0.75
params.clade_map = null
params.gapseq_medium = '/usr/local/share/gapseq/dat/media/gut.csv'
params.gapseq_medium_name = 'gut'

includeConfig 'conf/base.config'

profiles {
    local       { includeConfig 'conf/local.config' }
    external    { includeConfig 'conf/external.config' }
    docker      { includeConfig 'conf/docker.config' }
    singularity { includeConfig 'conf/singularity.config' }
    server      { includeConfig 'conf/server.config' }
}
