nextflow.enable.dsl = 2

params.manifest = null
params.analysis_config = "${projectDir}/config/analysis.yml"
params.run_id = null
params.outdir = null
params.checkm2_container = '/data/software/singularity/checkm2_1.0.2.sif'
params.gtdbtk_container = '/data/software/singularity/gtdbtk_2.6.1--pyh1f0d9b5_2.sif'
params.checkm2_db = '/data/Reference/checkm2/CheckM2_database/uniref100.KO.1.dmnd'
params.gtdbtk_db = '/data/Reference/GTDBTK/release226'
params.gtdb_batch_size = 20
params.skip_c00 = false
params.run_downstream = false
params.representatives_manifest = null
params.prokka_container = '/data/software/singularity/prokka.sif'
params.panaroo_container = '/data/software/singularity/panaroo.sif'
params.eggnog_container = '/data/software/singularity/eggnog-mapper/eggnog-mapper_2.1.15--pyhdfd78af_0.sif'
params.kofam_container = '/data/software/singularity/kofamscan/kofamscan_1.3.0--hdfd78af_2.sif'
params.gapseq_container = '/data/software/singularity/gapseq/gapseq_2.1.0--hdfd78af_0.sif'
params.drep_container = '/data/software/singularity/drep_3.5.0--pyhdfd78af_0.sif'
params.drep_primary_ani = 0.90
params.drep_secondary_ani = 0.999
params.drep_min_coverage = 0.10
params.eggnog_db = '/data/Reference/eggnog/2.1.15'
params.kofam_profiles = '/data/Reference/KOfam/2026-07-02/profiles'
params.kofam_ko_list = '/data/Reference/KOfam/2026-07-02/ko_list'
params.gapseq_db = '/data/Reference/gapseq/2.1.0-seqdb-1.5/Bacteria'

includeConfig 'conf/base.config'

profiles {
    local { includeConfig 'conf/local.config' }
    singularity { includeConfig 'conf/singularity.config' }
}
