process {
    shell = ['/bin/bash', '-euo', 'pipefail']
    errorStrategy = 'terminate'
    withLabel: process_small { cpus = 1; memory = '2 GB'; time = '2h' }
    withLabel: process_medium { cpus = 4; memory = '16 GB'; time = '12h' }
    withLabel: process_large { cpus = 8; memory = '48 GB'; time = '48h' }
}
timeline.enabled = true
report.enabled = true
trace.enabled = true
dag.enabled = true
