// Portable, pinned OCI images for Docker and Singularity automatic pulls.
params.checkm2_container = 'quay.io/biocontainers/checkm2:1.0.2--pyh7cba7a3_0'
params.gtdbtk_container = 'quay.io/biocontainers/gtdbtk:2.6.1--pyh1f0d9b5_2'
params.drep_container = 'quay.io/biocontainers/drep:3.5.0--pyhdfd78af_0'
params.prokka_container = 'quay.io/biocontainers/prokka:1.15.6--pl5321hdfd78af_0'
params.panaroo_container = 'quay.io/biocontainers/panaroo:1.6.0--pyhdfd78af_0'
params.eggnog_container = 'quay.io/biocontainers/eggnog-mapper:2.1.15--pyhdfd78af_0'
params.kofam_container = 'quay.io/biocontainers/kofamscan:1.3.0--hdfd78af_2'
params.gapseq_container = 'quay.io/biocontainers/gapseq:2.1.0--hdfd78af_0'
params.anvio_container = 'quay.io/biocontainers/anvio-minimal:8--pyhdfd78af_0'
params.prokka_executable = 'prokka'
params.panaroo_executable = 'panaroo'
params.anvio_bin_dir = ''
