singularity.enabled = false
docker.enabled = true
docker.runOptions = '--rm'
process {
  withName: CHECKM2 { containerOptions = params.checkm2_db ? "-v ${params.checkm2_db}:${params.checkm2_db}:ro" : '' }
  withName: GTDBTK { containerOptions = params.gtdbtk_db ? "-v ${params.gtdbtk_db}:${params.gtdbtk_db}:ro" : '' }
  withName: GTDBTK_BATCH { containerOptions = params.gtdbtk_db ? "-v ${params.gtdbtk_db}:${params.gtdbtk_db}:ro" : '' }
  withName: EGGNOG_MAPPER { containerOptions = params.eggnog_db ? "-v ${params.eggnog_db}:${params.eggnog_db}:ro" : '' }
  withName: KOFAMSCAN { containerOptions = params.kofam_profiles && params.kofam_ko_list ? "-v ${params.kofam_profiles}:${params.kofam_profiles}:ro -v ${params.kofam_ko_list}:${params.kofam_ko_list}:ro" : '' }
  withName: ANVIO_GENOME_KEGG { containerOptions = params.anvio_kegg_data ? "-v ${params.anvio_kegg_data}:${params.anvio_kegg_data}:ro" : '' }
  withName: VALIDATE_ANVIO_C08 { containerOptions = params.anvio_kegg_data ? "-v ${params.anvio_kegg_data}:${params.anvio_kegg_data}:ro" : '' }
}
