// GitHub/external installation. Database paths are user-supplied.
params.checkm2_db = null
params.gtdbtk_db = null
params.eggnog_db = null
params.kofam_profiles = null
params.kofam_ko_list = null
params.anvio_kegg_data = null
params.gapseq_db = '/usr/local/share/gapseq/dat/seq/Bacteria'
params.gapseq_medium = '/usr/local/share/gapseq/dat/media/gut.csv'
params.skip_c00 = true
